<style>
body, html { width:100%; height:100%!important; font-family:'Nanum Gothic', sans-serif; overflow:hidden; display:flex; }

.shakeflat-login-wrapper {
    width:100%;
    height:100%!important;
    background-image: url('/assets/images/admin-login-background-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display : flex;
    justify-content: center;
    align-items : center;
}

.shakeflat-login-inner { width:400px; height:470px; }
.shakeflat-login-title { color:#fff; text-align:center; font-size:2rem; font-weight:800; }
.shakeflat-login-box { width:400px; height:310px; background-color:#fff; }

.shakeflat-login-btn-login {
    width:200px;
    height:40px;
    font-size:1.4rem;
    font-weight:800;
    color:#fff;
    border:none;
    border-radius: 16px;
    background: -webkit-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: -o-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: -moz-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: linear-gradient(left,#a445b2,#d41872,#fa4299);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
</style>
<script>
$(document).ready(function() {
    $("#frm").on("submit", function() {
        callAjax(
            "auth/login-ok",
            {
                login: $("#login").val(),
                passwd: $("#passwd").val(),
                remember: $("input:checkbox[id='remember']").is(":checked"),
            },
            function(data) {
                // to do ...
                console.log(data);
            }
        );
        return false;
    });
});
</script>
<div class="shakeflat-login-wrapper">
    <div class="shakeflat-login-inner">
        <div class="shakeflat-login-title">
            <?=SHAKEFLAT_ENV["app"]["name"] ?? "Project Name";?>
        </div>
        <div class="shakeflat-login-box rounded mt-5 p-4">
            <form id="frm">
                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="login" autofocus required>
                </div>
                <div class="mb-3">
                    <label for="passwd" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwd" required>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="mb-4 me-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember" value="1">
                        <label class="form-check-label" for="remember">Remember me</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="shakeflat-login-btn-login">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>