<script src="/assets/libs/highlight-11.10.0/highlight.min.js"></script>
<link rel="stylesheet" href="/assets/libs/highlight-11.10.0/styles/dark.min.css">

<div class="mb-3">
    The default color set of bootstrap and the color set supported by shakeFlat.
</div>

<div class="mb-3">
    <h6>bootstrap buttons</h6>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
</div>

<div class="mb-3 ms-1">
    <h6>bootstrap background-color</h6>
    <div class="d-flex">
        <div class="col-auto p-2 text-light bg-primary">Primary</div>
        <div class="col-auto p-2 text-light bg-secondary">Secondary</div>
        <div class="col-auto p-2 text-light bg-success">Success</div>
        <div class="col-auto p-2 text-light bg-danger">Danger</div>
        <div class="col-auto p-2 text-dark bg-warning">Warning</div>
        <div class="col-auto p-2 text-dark bg-info">Info</div>
        <div class="col-auto p-2 text-dark bg-light">Light</div>
        <div class="col-auto p-2 text-light bg-dark">Dark</div>
    </div>
</div>

<div class="mb-3">
    <h6>shakeFlat buttons</h6>
    <div class="d-flex">
        <div class="me-1"><button type="button" class="btn btn-color-add">Add</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-modify">Modify</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-delete">Delete</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-detail">Detail</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-order">Order</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-register">Register</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-unregister">Unregister</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-return">Return</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-refund">Refund</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-save">Save</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-load">Load</button></div>
    </div>
    <div class="d-flex mt-2">
        <div class="me-1"><button type="button" class="btn btn-color-search">Search</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-reset">Reset</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-hold">Hold</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-cancel">Cancel</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-config">Config</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-comment">Comment</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-job">Job</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-release">Release</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-active">Active</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-deactive">Deactive</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-manage">Manage</button></div>
    </div>
    <div class="d-flex mt-2">
        <div class="me-1"><button type="button" class="btn btn-color-communicate">Communicate</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-develop">Develop</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-analyze">Analyze</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-present">Present</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-change">Change</button></div>
        <div class="me-1"><button type="button" class="btn btn-color-update">Update</button></div>
    </div>
</div>

<div class="mb-3 ms-1">
    <h6>shakeFlat background-color</h6>
    <div class="d-flex">
        <div class="me-1 col-auto p-2 bg-color-add">Add</div>
        <div class="me-1 col-auto p-2 bg-color-modify">Modify</div>
        <div class="me-1 col-auto p-2 bg-color-delete">Delete</div>
        <div class="me-1 col-auto p-2 bg-color-detail">Detail</div>
        <div class="me-1 col-auto p-2 bg-color-order">Order</div>
        <div class="me-1 col-auto p-2 bg-color-register">Register</div>
        <div class="me-1 col-auto p-2 bg-color-unregister">Unregister</div>
        <div class="me-1 col-auto p-2 bg-color-return">Return</div>
        <div class="me-1 col-auto p-2 bg-color-refund">Refund</div>
        <div class="me-1 col-auto p-2 bg-color-save">Save</div>
        <div class="me-1 col-auto p-2 bg-color-load">Load</div>
    </div>
    <div class="d-flex mt-2">
        <div class="me-1 col-auto p-2 bg-color-search">Search</div>
        <div class="me-1 col-auto p-2 bg-color-reset">Reset</div>
        <div class="me-1 col-auto p-2 bg-color-hold">Hold</div>
        <div class="me-1 col-auto p-2 bg-color-cancel">Cancel</div>
        <div class="me-1 col-auto p-2 bg-color-config">Config</div>
        <div class="me-1 col-auto p-2 bg-color-comment">Comment</div>
        <div class="me-1 col-auto p-2 bg-color-job">Job</div>
        <div class="me-1 col-auto p-2 bg-color-release">Release</div>
        <div class="me-1 col-auto p-2 bg-color-active">Active</div>
        <div class="me-1 col-auto p-2 bg-color-deactive">Deactive</div>
        <div class="me-1 col-auto p-2 bg-color-manage">Manage</div>
    </div>
    <div class="d-flex mt-2">
        <div class="me-1 col-auto p-2 bg-color-communicate">Communicate</div>
        <div class="me-1 col-auto p-2 bg-color-develop">Develop</div>
        <div class="me-1 col-auto p-2 bg-color-analyze">Analyze</div>
        <div class="me-1 col-auto p-2 bg-color-present">Present</div>
        <div class="me-1 col-auto p-2 bg-color-change">Change</div>
        <div class="me-1 col-auto p-2 bg-color-update">Update</div>
    </div>
</div>

<div class="mb-3">
    <h6>General color buttons</h6>
    <button type="button" class="btn btn-color-indigo">indigo</button>
    <button type="button" class="btn btn-color-lightblue">lightblue</button>
    <button type="button" class="btn btn-color-navy">navy</button>
    <button type="button" class="btn btn-color-purple">purple</button>
    <button type="button" class="btn btn-color-fuchsia">fuchsia</button>
    <button type="button" class="btn btn-color-pink">pink</button>
    <button type="button" class="btn btn-color-maroon">maroon</button>
    <button type="button" class="btn btn-color-orange">orange</button>
    <button type="button" class="btn btn-color-lime">lime</button>
    <button type="button" class="btn btn-color-teal">teal</button>
    <button type="button" class="btn btn-color-olive">olive</button>
</div>

<div class="mb-3 ms-1">
    <h6>General background-color</h6>
    <div class="d-flex">
        <div class="col-auto p-2 text-light bg-color-indigo">indigo</div>
        <div class="col-auto p-2 text-dark bg-color-lightblue">lightblue</div>
        <div class="col-auto p-2 text-light bg-color-navy">navy</div>
        <div class="col-auto p-2 text-light bg-color-purple">purple</div>
        <div class="col-auto p-2 text-light bg-color-fuchsia">fuchsia</div>
        <div class="col-auto p-2 text-light bg-color-pink">pink</div>
        <div class="col-auto p-2 text-light bg-color-maroon">maroon</div>
        <div class="col-auto p-2 text-dark bg-color-orange">orange</div>
        <div class="col-auto p-2 text-dark bg-color-lime">lime</div>
        <div class="col-auto p-2 text-light bg-color-teal">teal</div>
        <div class="col-auto p-2 text-light bg-color-olive">olive</div>
    </div>
</div>

<div>
    <h5>HTML Code</h5>
    <pre><code class="language-html"><?php echo htmlspecialchars(<<<EOD
    <!-- bootstrap -->
    <button type="button" class="btn btn-color-primary">Primary</button>
    <button type="button" class="btn btn-color-secondary">Secondary</button>
    <button type="button" class="btn btn-color-success">Success</button>
    <button type="button" class="btn btn-color-danger">Danger</button>
    <button type="button" class="btn btn-color-warning">Warning</button>
    <button type="button" class="btn btn-color-info">Info</button>
    <button type="button" class="btn btn-color-light">Light</button>
    <button type="button" class="btn btn-color-dark">Dark</button>
    <button type="button" class="btn btn-color-link">Link</button>

    <div class="col-auto p-2 text-light bg-color-primary">Primary</div>
    <div class="col-auto p-2 text-light bg-color-secondary">Secondary</div>
    <div class="col-auto p-2 text-light bg-color-success">Success</div>
    <div class="col-auto p-2 text-light bg-color-danger">Danger</div>
    <div class="col-auto p-2 text-dark bg-color-warning">Warning</div>
    <div class="col-auto p-2 text-dark bg-color-info">Info</div>
    <div class="col-auto p-2 text-dark bg-color-light">Light</div>
    <div class="col-auto p-2 text-light bg-color-dark">Dark</div>
    <div class="col-auto p-2 text-light bg-color-link">Link</div>

    <!-- Added from shakeFlat -->
    <button type="button" class="btn btn-color-add">Add</button>
    <button type="button" class="btn btn-color-modify">Modify</button>
    <button type="button" class="btn btn-color-delete">Delete</button>
    <button type="button" class="btn btn-color-detail">Detail</button>
    <button type="button" class="btn btn-color-order">Order</button>
    <button type="button" class="btn btn-color-register">Register</button>
    <button type="button" class="btn btn-color-unregister">Unregister</button>
    <button type="button" class="btn btn-color-return">Return</button>
    <button type="button" class="btn btn-color-refund">Refund</button>
    <button type="button" class="btn btn-color-save">Save</button>
    <button type="button" class="btn btn-color-load">Load</button>
    <button type="button" class="btn btn-color-reset">Reset</button>

    <div class="col-auto p-2 text-light bg-color-add">Add</div>
    <div class="col-auto p-2 text-light bg-color-modify">Modify</div>
    <div class="col-auto p-2 text-light bg-color-delete">Delete</div>
    <div class="col-auto p-2 text-light bg-color-detail">Detail</div>
    <div class="col-auto p-2 text-light bg-color-order">Order</div>
    <div class="col-auto p-2 text-light bg-color-register">Register</div>
    <div class="col-auto p-2 text-light bg-color-unregister">Unregister</div>
    <div class="col-auto p-2 text-light bg-color-return">Return</div>
    <div class="col-auto p-2 text-light bg-color-refund">Refund</div>
    <div class="col-auto p-2 text-light bg-color-save">Save</div>
    <div class="col-auto p-2 text-light bg-color-load">Load</div>
    <div class="col-auto p-2 text-light bg-color-reset">Reset</div>

    <!-- General -->
    <button type="button" class="btn btn-color-indigo">indigo</button>
    <button type="button" class="btn btn-color-lightblue">lightblue</button>
    <button type="button" class="btn btn-color-navy">navy</button>
    <button type="button" class="btn btn-color-purple">purple</button>
    <button type="button" class="btn btn-color-fuchsia">fuchsia</button>
    <button type="button" class="btn btn-color-pink">pink</button>
    <button type="button" class="btn btn-color-maroon">maroon</button>
    <button type="button" class="btn btn-color-orange">orange</button>
    <button type="button" class="btn btn-color-lime">lime</button>
    <button type="button" class="btn btn-color-teal">teal</button>
    <button type="button" class="btn btn-color-olive">olive</button>

    <div class="col-auto p-2 text-light bg-color-indigo">indigo</div>
    <div class="col-auto p-2 text-dark bg-color-lightblue">lightblue</div>
    <div class="col-auto p-2 text-light bg-color-navy">navy</div>
    <div class="col-auto p-2 text-light bg-color-purple">purple</div>
    <div class="col-auto p-2 text-light bg-color-fuchsia">fuchsia</div>
    <div class="col-auto p-2 text-light bg-color-pink">pink</div>
    <div class="col-auto p-2 text-light bg-color-maroon">maroon</div>
    <div class="col-auto p-2 text-light bg-color-orange">orange</div>
    <div class="col-auto p-2 text-light bg-color-lime">lime</div>
    <div class="col-auto p-2 text-light bg-color-teal">teal</div>
    <div class="col-auto p-2 text-light bg-color-olive">olive</div>
    EOD);?></code></pre>
</div>

<script>
$(document).ready(function(){
    hljs.highlightAll();
});
</script>
