<script src="/assets/libs/highlight-11.10.0/highlight.min.js"></script>
<link rel="stylesheet" href="/assets/libs/highlight-11.10.0/styles/dark.min.css">

<div class="mb-3">
    The default color set of bootstrap and the color set supported by shakeFlat.
</div>

<div class="mb-3">
    <h6>bootstrap buttons</h6>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
</div>

<div class="mb-3 ms-1">
    <h6>bootstrap background-color</h6>
    <div class="row" style="padding-left:0.5rem;">
        <div class="col-auto p-2 text-light bg-primary">Primary</div>
        <div class="col-auto p-2 text-light bg-secondary">Secondary</div>
        <div class="col-auto p-2 text-light bg-success">Success</div>
        <div class="col-auto p-2 text-light bg-danger">Danger</div>
        <div class="col-auto p-2 text-dark bg-warning">Warning</div>
        <div class="col-auto p-2 text-dark bg-info">Info</div>
        <div class="col-auto p-2 text-dark bg-light">Light</div>
        <div class="col-auto p-2 text-light bg-dark">Dark</div>
        <div class="col-auto p-2 text-light bg-link">Link</div>
    </div>
</div>

<div class="mb-3">
    <h6>shakeFlat buttons</h6>
    <button type="button" class="btn btn-add">Add</button>
    <button type="button" class="btn btn-modify">Modify</button>
    <button type="button" class="btn btn-delete">Delete</button>
    <button type="button" class="btn btn-detail">Detail</button>
    <button type="button" class="btn btn-order">Order</button>
    <button type="button" class="btn btn-register">Register</button>
    <button type="button" class="btn btn-unregister">Unregister</button>
    <button type="button" class="btn btn-return">Return</button>
    <button type="button" class="btn btn-refund">Refund</button>
    <button type="button" class="btn btn-save">Save</button>
    <button type="button" class="btn btn-load">Load</button>
    <button type="button" class="btn btn-reset">Reset</button>
</div>

<div class="mb-3 ms-1">
    <h6>shakeFlat background-color</h6>
    <div class="row" style="padding-left:0.5rem;">
        <div class="col-auto p-2 text-light bg-add">Add</div>
        <div class="col-auto p-2 text-light bg-modify">Modify</div>
        <div class="col-auto p-2 text-light bg-delete">Delete</div>
        <div class="col-auto p-2 text-light bg-detail">Detail</div>
        <div class="col-auto p-2 text-light bg-order">Order</div>
        <div class="col-auto p-2 text-light bg-register">Register</div>
        <div class="col-auto p-2 text-light bg-unregister">Unregister</div>
        <div class="col-auto p-2 text-light bg-return">Return</div>
        <div class="col-auto p-2 text-light bg-refund">Refund</div>
        <div class="col-auto p-2 text-light bg-save">Save</div>
        <div class="col-auto p-2 text-light bg-load">Load</div>
        <div class="col-auto p-2 text-light bg-reset">Reset</div>
    </div>
</div>

<div class="mb-3">
    <h6>General color buttons</h6>
    <button type="button" class="btn btn-indigo">indigo</button>
    <button type="button" class="btn btn-lightblue">lightblue</button>
    <button type="button" class="btn btn-navy">navy</button>
    <button type="button" class="btn btn-purple">purple</button>
    <button type="button" class="btn btn-fuchsia">fuchsia</button>
    <button type="button" class="btn btn-pink">pink</button>
    <button type="button" class="btn btn-maroon">maroon</button>
    <button type="button" class="btn btn-orange">orange</button>
    <button type="button" class="btn btn-lime">lime</button>
    <button type="button" class="btn btn-teal">teal</button>
    <button type="button" class="btn btn-olive">olive</button>
</div>

<div class="mb-3 ms-1">
    <h6>General background-color</h6>
    <div class="row" style="padding-left:0.5rem;">
        <div class="col-auto p-2 text-light bg-indigo">indigo</div>
        <div class="col-auto p-2 text-light bg-lightblue">lightblue</div>
        <div class="col-auto p-2 text-light bg-navy">navy</div>
        <div class="col-auto p-2 text-light bg-purple">purple</div>
        <div class="col-auto p-2 text-light bg-fuchsia">fuchsia</div>
        <div class="col-auto p-2 text-light bg-pink">pink</div>
        <div class="col-auto p-2 text-light bg-maroon">maroon</div>
        <div class="col-auto p-2 text-dark bg-orange">orange</div>
        <div class="col-auto p-2 text-dark bg-lime">lime</div>
        <div class="col-auto p-2 text-light bg-teal">teal</div>
        <div class="col-auto p-2 text-light bg-olive">olive</div>
    </div>
</div>

<div>
    <h5>HTML Code</h5>
    <pre><code class="language-html"><?php echo htmlspecialchars(<<<EOD
    <!-- bootstrap -->
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>

    <div class="col-auto p-2 text-light bg-primary">Primary</div>
    <div class="col-auto p-2 text-light bg-secondary">Secondary</div>
    <div class="col-auto p-2 text-light bg-success">Success</div>
    <div class="col-auto p-2 text-light bg-danger">Danger</div>
    <div class="col-auto p-2 text-dark bg-warning">Warning</div>
    <div class="col-auto p-2 text-dark bg-info">Info</div>
    <div class="col-auto p-2 text-dark bg-light">Light</div>
    <div class="col-auto p-2 text-light bg-dark">Dark</div>
    <div class="col-auto p-2 text-light bg-link">Link</div>

    <!-- Added from shakeFlat -->
    <button type="button" class="btn btn-add">Add</button>
    <button type="button" class="btn btn-modify">Modify</button>
    <button type="button" class="btn btn-delete">Delete</button>
    <button type="button" class="btn btn-detail">Detail</button>
    <button type="button" class="btn btn-order">Order</button>
    <button type="button" class="btn btn-register">Register</button>
    <button type="button" class="btn btn-unregister">Unregister</button>
    <button type="button" class="btn btn-return">Return</button>
    <button type="button" class="btn btn-refund">Refund</button>
    <button type="button" class="btn btn-save">Save</button>
    <button type="button" class="btn btn-load">Load</button>
    <button type="button" class="btn btn-reset">Reset</button>

    <div class="col-auto p-2 text-light bg-add">Add</div>
    <div class="col-auto p-2 text-light bg-modify">Modify</div>
    <div class="col-auto p-2 text-light bg-delete">Delete</div>
    <div class="col-auto p-2 text-light bg-detail">Detail</div>
    <div class="col-auto p-2 text-light bg-order">Order</div>
    <div class="col-auto p-2 text-light bg-register">Register</div>
    <div class="col-auto p-2 text-light bg-unregister">Unregister</div>
    <div class="col-auto p-2 text-light bg-return">Return</div>
    <div class="col-auto p-2 text-light bg-refund">Refund</div>
    <div class="col-auto p-2 text-light bg-save">Save</div>
    <div class="col-auto p-2 text-light bg-load">Load</div>
    <div class="col-auto p-2 text-light bg-reset">Reset</div>

    <!-- General -->
    <button type="button" class="btn btn-indigo">indigo</button>
    <button type="button" class="btn btn-lightblue">lightblue</button>
    <button type="button" class="btn btn-navy">navy</button>
    <button type="button" class="btn btn-purple">purple</button>
    <button type="button" class="btn btn-fuchsia">fuchsia</button>
    <button type="button" class="btn btn-pink">pink</button>
    <button type="button" class="btn btn-maroon">maroon</button>
    <button type="button" class="btn btn-orange">orange</button>
    <button type="button" class="btn btn-lime">lime</button>
    <button type="button" class="btn btn-teal">teal</button>
    <button type="button" class="btn btn-olive">olive</button>

    <div class="col-auto p-2 text-light bg-indigo">indigo</div>
    <div class="col-auto p-2 text-light bg-lightblue">lightblue</div>
    <div class="col-auto p-2 text-light bg-navy">navy</div>
    <div class="col-auto p-2 text-light bg-purple">purple</div>
    <div class="col-auto p-2 text-light bg-fuchsia">fuchsia</div>
    <div class="col-auto p-2 text-light bg-pink">pink</div>
    <div class="col-auto p-2 text-light bg-maroon">maroon</div>
    <div class="col-auto p-2 text-light bg-orange">orange</div>
    <div class="col-auto p-2 text-light bg-lime">lime</div>
    <div class="col-auto p-2 text-light bg-teal">teal</div>
    <div class="col-auto p-2 text-light bg-olive">olive</div>
    EOD);?></code></pre>
</div>

<script>
$(document).ready(function(){
    hljs.highlightAll();
});
</script>
