
<div>
    <!-- shakeFlat DataTables Custom Search -->
    <div class="sfdt-custom-search mb-3" data-table-id="example" data-language="kr">
        <div class="sfdt-custom-search-group">
            <div class="sfdt-custom-search-item">
                <label for="sfdt-example-custom-search-name">이름 :</label>
                <input type="search" class="form-control form-control-sm sfdt-example-custom-search" name="sfdt-example-custom-search-name" id="sfdt-example-custom-search-name" data-sfdt-custom-search-type="string" data-sfdt-alias="name" autocomplete="off"  style='width:12rem;'>
            </div>
            <div class="sfdt-custom-search-item">
                <label for="sfdt-example-custom-search-phone">전화 :</label>
                <input type="search" class="form-control form-control-sm sfdt-example-custom-search" name="sfdt-example-custom-search-phone" id="sfdt-example-custom-search-phone" data-sfdt-custom-search-type="string" data-sfdt-alias="phone" autocomplete="off"  style='width:12rem;'>
            </div>
            <div class="sfdt-custom-search-item">
                <label for="sfdt-example-custom-search-status">상태 :</label>
                <select class="form-control form-control-sm sfdt-example-custom-search" name="sfdt-example-custom-search-status" id="sfdt-example-custom-search-status" data-sfdt-alias="status"  style='width:6rem;' data-sfselect2='true'>
                    <option value="">전체</option>
                    <option value="active">active</option><option value="inactive">inactive</option><option value="banned">banned</option>
                </select>
            </div>
        </div>
        <div class="sfdt-custom-search-group">
            <div class="sfdt-custom-search-item">
                <label for="sfdt-example-custom-search-join_date">입사일 :</label>
                <input type="search" class="form-control form-control-sm sfdt-example-custom-search" name="sfdt-example-custom-search-join_date" id="sfdt-example-custom-search-join_date" data-sfdt-custom-search-type="daterange" data-sfdt-alias="join_date" autocomplete="off"  style='width:13rem;'>
            </div>
            <div class="sfdt-custom-search-item">
                <label for="sfdt-example-custom-search-salary">연봉 :</label>
                <div class="input-group input-group-sm">
                    <input type="search" class="form-control sfdt-example-custom-search" name="sfdt-example-custom-search-salary" id="sfdt-example-custom-search-salary" data-sfdt-custom-search-type="numberrange" data-sfdt-alias="salary" data-sfdt-numberrange-min="0" data-sfdt-numberrange-max="999999999" autocomplete="off"  style='width:15rem;'>
                </div>
            </div>
        </div>
    </div>

    <table id="example" class="table table-hover table-striped nowrap"></table>
</div>

<!-- test modal -->
<div class="modal fade" tabindex="-1" id="sf-modal-test">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Test Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTables Column Config Modal -->
<div class="modal fade" tabindex="-1" id="sfdt-modal-column-config">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body" id="sfdt-modal-column-config-body"></div>
            <div class="modal-footer d-flex justify-content-between">
                <div><button type="button" class="btn btn-reset sfdt-btn-column-config-reset">초기화</button></div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="sfdt-btn-column-config-apply" disabled>적용</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
$.fn.dataTable.ext.errMode = 'throw';
let sfdt = {};  // DataTables Object

$(document).ready(function() {
    sfdt['example'] = new DataTable('#example', {
        "pageLength": 20,
        "lengthMenu": [
            10,
            20,
            25,
            30,
            50,
            75,
            100
        ],
        "stateSave": true,
        "paging": true,
        "colReorder": true,
        "responsive": false,
        "scrollX": true,
        "retrieve": true,
        "serverSide": true,
        "keys": {
            "blurable": true,
            "columns": ":not(.no-keys-cursor)"
        },
        "ajax":
            function(data, callback, settings) {
                $.ajax({
                    url: '/datatables/custom-data',
                    type: 'POST',
                    data: data,
                }).done(function (json, textStatus, jqXHR) {
                    try {
                        if (typeof json !== 'object') throw "json is not object";
                        if (!('error' in json) || !('errCode' in json.error) || !('errMsg' in json.error)) throw "error object is not exist";
                        if (json.error.errCode !== 0) {
                            if ('errUrl' in json.error && json.error.errUrl) {
                                alertJump(json.error.errMsg, json.error.errUrl);
                            } else {
                                alert(json.error.errMsg);
                            }
                            //console.log(json);
                            callback({ draw: data.draw, recordsTotal: 0, recordsFiltered: 0, data: [] });
                            return;
                        }
                        if (!('data' in json) || !('draw' in json.data) || !('recordsTotal' in json.data) || !('recordsFiltered' in json.data) || !('data' in json.data)) throw "data object is not exist";
                        callback(json.data);
                    } catch (e) {
                        alert("서버가 잘못된 응답을 하였습니다. 잠시 후 다시 시도해보세요.");
                        console.log("ajax page returns data in wrong:", e);
                        console.log("json:", json);
                        console.log("textStatus:", textStatus)
                        console.log("jqXHR:", jqXHR);
                        callback({ draw: data.draw, recordsTotal: 0, recordsFiltered: 0, data: [] });
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    alert("서버와의 통신이 원활하지 않습니다. 잠시 후 다시 시도해보세요.");
                    console.log("ajax fail");
                    console.log("textStatus:", textStatus);
                    console.log("jqXHR:", jqXHR);
                    console.log("errorThrown:", errorThrown);
                    callback({ draw: data.draw, recordsTotal: 0, recordsFiltered: 0, data: [] });
                });
            },
        "layout":
            {
                topStart: [ 'search', function() { return '<button type="button" class="btn btn-sfdt-search-reset" data-table-id="example"><i class="bi bi-arrow-clockwise"></i></button>'; } ],
                topEnd: {
                    buttons: [
                        {
                            extend: 'print',
                            title : '직원 목록',
                            action: sfdtExportAction,
                            exportOptions: { columns: ':visible:not(.sfdt-no-export)' },
                            customize:
                                function (win) {
                                    $(win.document.body).find('h1').each(function() {
                                        $(this).replaceWith('<h3 class="text-center mb-3">' + $(this).html() + '</h3>');
                                    });
                                    $(win.document.body).find('table').addClass('compact').css('font-size', '9pt').css('text-align', 'center');
                                    $(win.document.body).find('table').find('thead').find('th').css('text-align', 'center');
                                }
                        }, {
                            extend: 'pdf',
                            filename: '직원목록(2024-11-02)',
                            action: sfdtExportAction,
                            title: '직원 목록',
                            exportOptions: { columns: ':visible:not(.sfdt-no-export)' },
                            customize:
                                function(doc) {
                                    doc.defaultStyle.font = 'hangul';
                                    doc.defaultStyle.fontSize = 9;
                                    doc.defaultStyle.alignment = 'center';
                                    doc.styles.tableHeader = { alignment: 'center', bold: true, fontSize: 9, noWrap: true };

                                    let tblIdx = 0;
                                    for(let i=0;i<doc.content.length;i++) {
                                        if (doc.content[i].table) { tblIdx = i; break; }
                                    }
                                    if ($(doc.content[tblIdx].table.body[0]).length > 7) doc.pageOrientation = 'landscape';
                                    let mr = doc.content[tblIdx].table.body.length-1; if (mr > 20) mr = 20;
                                    let colSum = {}, colCnt = {};
                                    for(let j=0;j<doc.content[tblIdx].table.body[0].length;j++) { colSum[j] = 0; colCnt[j] = 0; }
                                    for(let i=1;i<=mr;i++) {
                                        for(let j=0;j<doc.content[tblIdx].table.body[i].length;j++) {
                                            if (doc.content[tblIdx].table.body[i][j].text.bytes() > 0) {       // String.bytes() : see sfutil.js
                                                colCnt[j]++;
                                                colSum[j] += doc.content[tblIdx].table.body[i][j].text.bytes();
                                            }
                                        }
                                    }
                                    let avgSum = 0, colAvg = {};
                                    for(let j=0;j<doc.content[tblIdx].table.body[0].length;j++) { colAvg[j] = colSum[j] / colCnt[j]; avgSum += colAvg[j]; }
                                    let widths = [];
                                    for(let j=0;j<doc.content[tblIdx].table.body[0].length;j++) {
                                        widths.push(((colAvg[j] / avgSum) * 100) + "%");
                                    }
                                    doc.content[tblIdx].table.widths = widths;
                                }
                        }, {
                            extend: 'excel',
                            filename: '직원목록(2024-11-02)',
                            action: sfdtExportAction,
                            title: '',
                            exportOptions: { columns: ':visible:not(.sfdt-no-export)' }
                        },{
                            text: '열편집',
                            className:'sfdt-btn-open-column-config',
                            attr: { 'data-table-id': 'example' }
                        }
                    ],
                    div: { html:`<button type="button" id="btn-extra-add" class="btn btn-sm btn-add"data-table-id='example'>신규추가</button> <button type="button" id="btn-extra-order" class="btn btn-sm btn-order">주문하기</button> <button type="button" id="btn-extra-refund" class="btn btn-sm btn-refund">환불요청</button>` },
                },
                bottomEnd: [
                    'pageLength',
                    function() {
                        return `
                            <div class="d-flex align-items-center">
                                <input type="number" name="sfdt-example-page-jump" class="form-control form-control-sm sfdt-page-jump" min="1" data-table-id="example">
                                <div class="input-group-append"><button type="button" class="btn btn-sm sfdt-btn-pagejump">이동</button></div>
                            </div>
                        `;
                    },
                    'paging'
                ],
            },
        "columns": [
            {
                "name": "member_id",
                "data": "member_id",
                "title": "ID",
                "className": "text-nowrap text-center no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "status",
                "data": "status",
                "title": "상태",
                "className": "text-nowrap text-center no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "name",
                "data": "name",
                "title": "이름",
                "className": "text-nowrap text-center no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "phone",
                "data": "phone",
                "title": "전화",
                "className": "text-nowrap text-center no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "city",
                "data": "city",
                "title": "도시",
                "className": "text-nowrap text-center no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "postal_code",
                "data": "postal_code",
                "title": "우편번호",
                "className": "text-nowrap text-center no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "country",
                "data": "country",
                "title": "국가",
                "className": "text-nowrap text-center no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "email",
                "data": "email",
                "title": "이메일",
                "className": "text-nowrap no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "address",
                "data": "address",
                "title": "주소",
                "className": "text-nowrap no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "notes",
                "data": "notes",
                "title": "메모",
                "className": "text-nowrap no-keys-cursor",
                "searchable": true,
                "orderable": true
            },
            {
                "name": "birth_date",
                "data": "birth_date",
                "title": "생일",
                "className": "text-nowrap text-center no-keys-cursor",
                "type": "string",
                "searchable": true,
                "orderable": true,
                "render": DataTable.render.date('YYYY-MM-DD')
            },
            {
                "name": "join_date",
                "data": "join_date",
                "title": "입사일",
                "className": "text-nowrap text-center no-keys-cursor",
                "type": "string",
                "searchable": true,
                "orderable": true,
                "render": DataTable.render.date('YYYY-MM-DD')
            },
            {
                "name": "salary",
                "data": "salary",
                "title": "연봉",
                "className": "text-nowrap no-keys-cursor",
                "type": "num",
                "searchable": true,
                "orderable": true,
                "render": DataTable.render.number(',', null, null, null, null)
            },
            {
                "name": "last_login",
                "data": "last_login",
                "title": "마지막 로그인",
                "className": "text-nowrap text-center no-keys-cursor",
                "type": "string",
                "searchable": true,
                "orderable": true,
                "render": DataTable.render.datetime('YYYY-MM-DD HH:mm:ss')
            },
            {
                "name": "btn",
                "className": "sfdt-disable-invisible sfdt-no-export text-center no-keys-cursor",
                "type": "html",
                "searchable": true,
                "orderable": true,
                "render": function(data, type, row, meta) {
                    return `
                        <button type=\"button\" class=\"btn btn-xs btn-detail\" data-member-id='${row.member_id}'>상세보기</button>
                        <button type=\"button\" class=\"btn btn-xs btn-modify\" data-member-id='${row.member_id}'>수정</button>
                        <button type=\"button\" class=\"btn btn-xs btn-delete\" data-member-id='${row.member_id}'>삭제</button>
                    `;
                }
            }
        ],
        "language": {
            "url": "/assets/libs/datatables-2.1.8/i18n/ko.json"
        },

        "drawCallback": function(settings) {

            let state = sfdt['example'].state();
            state.columns.forEach(function(col, index) {
                if (col.search.search) sfdtSetDefaultValue($("#sfdt-example-custom-search-" + sfdt['example'].column(index).dataSrc()), col.search.search);
            });

            $('#btn-extra-add').data("bs-toggle", "tooltip").attr("title", "회원을 신규 추가합니다.").tooltip();
            $('#btn-extra-order').data("bs-toggle", "tooltip").attr("title", "주문서를 작성합니다.").tooltip();
            $('#btn-extra-refund').data("bs-toggle", "tooltip").attr("title", "환불요청을 합니다.").tooltip();

            $(".btn-sfdt-search-reset").data("bs-toggle", "tooltip").attr("title", "검색 조건 초기화").tooltip();
            $(".sfdt-btn-open-column-config").data("bs-toggle", "tooltip").attr("title", "열 순서 및 표시 설정 변경").tooltip();
            $(".sfdt-btn-pagejump").data("bs-toggle", "tooltip").attr("title", "입력한 페이지 번호로 바로 이동").tooltip();

        }
    });

    let csStorage = localStorage.getItem('sfdt-example-custom-search-ex');
    if (csStorage) {
        let csEx = JSON.parse(csStorage);
        for (let key in csEx) {
            sfdtSetDefaultValue($("#sfdt-example-custom-search-"+key), csEx[key]);
        }
    }
});
</script>
