<!DOCTYPE html>
<html lang="ko">
<head>
<title>shakeFlat default template</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/assets/libs/jquery-3.7.1/jquery.min.js"></script>
<script src="/assets/libs/jquery-ui-1.14.0/jquery-ui.min.js"></script>
<script src="/assets/libs/bootstrap-5.3.3/js/bootstrap.min.js"></script>
<script src="/assets/libs/moment-2.30.1/moment-with-locales.min.js"></script>
<script src="/assets/libs/daterangepicker-3.1/daterangepicker.js"></script>
<script src="/assets/libs/datetimepicker-2.5.4/jquery.datetimepicker.full.min.js"></script>
<script src="/assets/libs/sflightbox-0.0.1/sflightbox.js"></script>
<script src="/assets/libs/inputmask-5.0.10-beta.11/jquery.inputmask.min.js"></script>
<script src="/assets/libs/Datatables-2.1.8/datatables.min.js"></script>
<script src="/assets/libs/apexcharts-4.1.0/apexcharts.min.js"></script>
<script src="/assets/libs/select2-4.1.0-rc.0/js/select2.full.min.js"></script>
<script src="/assets/libs/sweetalert2-11.14.3/sweetalert2.all.min.js"></script>
<script src="/assets/libs/fontawesome-free-6.6.0-web/js/all.min.js"></script>
<link rel="stylesheet" href="/assets/libs/jquery-ui-1.14.0/jquery-ui.min.css" />
<link rel="stylesheet" href="/assets/libs/bootstrap-5.3.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/libs/bootstrap-icons-1.11.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/libs/daterangepicker-3.1/daterangepicker.css" />
<link rel="stylesheet" href="/assets/libs/datetimepicker-2.5.4/jquery.datetimepicker.min.css" />
<link rel="stylesheet" href="/assets/libs/Datatables-2.1.8/datatables.min.css" />
<link rel="stylesheet" href="/assets/libs/apexcharts-4.1.0/apexcharts.css" />
<link rel="stylesheet" href="/assets/libs/select2-4.1.0-rc.0/css/select2.min.css" />
<link rel="stylesheet" href="/assets/libs/select2-bootstrap-5-theme-1.3.0/select2-bootstrap-5-theme.min.css" />
<link rel="stylesheet" href="/assets/libs/sweetalert2-11.14.3/sweetalert2.min.css" />
<link rel="stylesheet" href="/assets/libs/fontawesome-free-6.6.0-web/css/all.min.css" />
<link rel="stylesheet" href="/assets/css/fonts.css" />
<link rel="stylesheet" href="/assets/css/colors.css?<?=sfCSSJSVer();?>" />
<link rel="stylesheet" href="/assets/css/template-default.css?<?=sfCSSJSVer();?>" />
<link rel="stylesheet" href="/assets/css/theme-normal.css?<?=sfCSSJSVer();?>" />

<script src="/assets/js/sfutil.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/shakeflat.js?<?=sfCSSJSVer();?>"></script>
</head>

<body>
<div class="shakeflat-wrapper">
    <div class="shakeflat-container">
        <section class="shakeflat-top-logo">
            shakeFlat Template :: default
        </section>
        <section class="shakeflat-body">
            <?= $contentBody ?>
        </section>
    </div>
</div>
</body>
</html>