body { font-size:0.85rem; font-family:'Nanum Gothic', sans-serif; overflow:hidden; }
a,a:hover,a:visited { text-decoration:none; color:inherit; }

/*
 * btn, bg
 */
.btn-xs { padding:0.125rem 0.25rem; font-size:0.75rem; line-height:1.5; border-radius:0.15rem; }
.btn-add { color: #fff; border-bottom: none!important; background-color: #5657bb; border-color: #5657bb;box-shadow: none; }
.btn-modify { color: #fff; background-color: #4db9f8; border-bottom: none!important; border-color: #4db9f8; box-shadow: none; }
.btn-detail { color: #fff; background-color: #6e51d4; border-bottom: none!important; border-color: #6e51d4; box-shadow: none; }
.bg-add { color: #fff; background-color: #5657bb; border-color: #4db9f8; border-bottom: none!important; box-shadow: none; }
.bg-modify { color: #fff; background-color: #4db9f8; border-bottom: none!important; border-color: #4db9f8; box-shadow: none; }
.bg-detail { color: #fff; background-color: #6e51d4; border-bottom: none!important; border-color: #6e51d4; box-shadow: none; }

.shakeflat-wrapper { display:flex; width:100vw; height:100vh; }

/*
 * for DataTable
 */
div.dataTables_wrapper .table { padding-top:6px; }
div.dataTables_wrapper .table thead th, .table tbody + tbody { border-bottom:2px solid #cad0d3; border-top:2px solid #cad0d3; }
div.dataTables_wrapper .table th,.table td { border-top:1px solid #cad0d3; }
div.dataTables_wrapper .table thead th.text-amount { text-align:center!important; }
div.dataTables_wrapper .table tbody td.text-amount, .table tfoot td.text-amount { text-align:right!important; padding-right:15px!important; }
div.dataTables_wrapper .dataTables_length { padding-top:2px; }
div.dataTables_wrapper .dataTables_length .form-select-sm { font-size: 0.75rem; padding-left:0.4rem; }
div.dataTables_wrapper .pagination { --bs-pagination-font-size: 0.8rem; --bs-pagination-padding-x: 0.55rem; --bs-pagination-padding-y: 0.22rem; }
div.dataTables_wrapper .sf-custom-search .form-control-sm, .dataTables_wrapper .sf-custom-search .form-select-sm { font-size: 0.75rem; padding-left:0.4rem; }
div.dataTables_wrapper .sf-custom-search .form-select-sm~.select2-container--bootstrap-5 .select2-selection { font-size: 0.75rem; padding-left:0.4rem; }
div.dataTables_wrapper div.dataTables_info { padding-top:0.3rem; }
div.dataTables_wrapper .dataTables_filter input { margin-left:0px!important; }
div.dataTables_wrapper .dt-buttons>.btn-sm { --bs-btn-padding-y: 0.197rem; --bs-btn-font-size:0.8rem; margin-top:1px; }
div.label-modal-detailinfo { height:23px; font-size:0.7rem; border-bottom:1px solid #dddddd; padding:5px 15px 2px 6px!important;  }
div.data-modal-detailinfo { height:25px; border-top:1px solid #dddddd;  padding:1px 15px 0px 5px!important; }
div.modal div.form-check>label.form-radio-label { position:relative; top:-2px; }
div.modal input.form-control:read-only { background-color: #efefef; }

/*
 * modal
 */
.modal-header .btn-close { margin-top:-22px!important; }
.modal-body { font-size:0.9rem; }

/*
 * topbar
 */
/* mobile max size is 600px */
@media only screen and (max-width:600px) {
    .shakeflat-logo-box { display:none!important; }
    .shakeflat-logo-text { display:none; }
    .shakeflat-server-comment { font-size:1.0rem; }
}

/* for small PC max size is 600~1000px */
@media only screen and (min-width:600px) {
    .shakeflat-logo-box { width:60px; }
    .shakeflat-logo-text { display:none; }
    .shakeflat-server-comment { font-size:1.0rem; }
}

/* for PC desktop */
@media only screen and (min-width:1000px) {
    .shakeflat-logo-box { width:240px; }
    .shakeflat-logo-text { display:block; }
    .shakeflat-server-comment { font-size:1.4rem; }
}

.shakeflat-topbar { height:60px; background-color:#eaeaea; }
.shakeflat-logo-box { height:60px; padding-top:15px; flex-wrap:wrap; background-color:#2a3042; }
.shakeflat-logo { padding-left:15px; padding-right:15px; }
.shakeflat-logo-character { margin:0 auto; width:30px; height:30px; border-radius:50%; background-color:#f0f0f0; color:#232323; font-family:'Times New Roman', Times, serif; font-size:20px; font-weight:800; }
.shakeflat-logo-text { font-size:1.2rem; color:#f0f0f0; padding:0; }
.shakeflat-server-comment { font-weight:600; line-height:30px; color:#ff0000; white-space:nowrap; }

.shakeflat-clock { font-family:Oswald; }
#shakeflat-clock-date { font-size:0.6rem; font-weight:400; margin-top:-5px; color:#606060; white-space:nowrap; }
.shakeflat-clock-time { font-size:1.0rem; font-weight:500; text-align:center; white-space:nowrap; }

.shakeflat-account-dropdown > button { font-size:1.0rem; font-weight:600; }
.shakeflat-account-dropdown-menu { font-size:0.8rem; background-color:#fafafa; }


/*
 * left slide bar
 */
.shakeflat-left { z-index:200; margin-top:60px!important; background-color:#2a3042; color:#fefefe; }
.shakeflat-left .simplebar-scrollbar::before { background-color:#909090; }
.shakeflat-left .list-group {
    --bs-list-group-bg:#2a3042;
    --bs-list-group-active-bg:#2a3042;
    --bs-list-group-active-border-color:#2a3042;
}
.shakeflat-left .list-group > a { color: #a0a0a0; }
.shakeflat-left .list-group > a.active { color: #fff; }

.shakeflat-left .list-group { margin-left:3px; }
.shakeflat-left .list-group > .list-group-item { margin-bottom:5px; }
.shakeflat-left .list-group > [data-toggle="collapse"].hide::after { display:none; }
.shakeflat-left .list-group > [data-toggle="collapse"]::after { float:right; padding-right:10px; padding-top:5px; font-family:"Bootstrap-icons"; }
.shakeflat-left .list-group > [data-toggle="collapse"].list-group-item::after { content:"\F229"; }
.shakeflat-left .list-group > [data-toggle="collapse"].in::after { content:"\F235"; }
.shakeflat-left .list-group > .list-group-item > i { font-size:1.2rem; }
.shakeflat-left .list-group > .list-group-item > .list-group-item-text { font-size:1.0rem; position:relative; top:-1px; margin-left:10px; }
.shakeflat-left .list-group > .list-group { margin-left:18px; }
.shakeflat-left .list-group > .list-group > .list-group-item { margin-top:-10px; }

.shakeflat-sidebar-blind { background-color:#121212; opacity: 0.65; display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:100; }

/*
 * contents
 */
.shakeflat-contents { margin-top:60px!important; background-color:#fdfdfd; color:#000000; overflow:auto; }
.shakeflat-contents-title { font-size:1.2rem; font-weight:600; padding-left:12px!important; padding-bottom:10px; border-bottom: 3px solid transparent; border-image: linear-gradient(0.49turn, #343434, #ffffff);border-image-slice: 1; }
.shakeflat-contents-title>i { font-size:1.0rem;  }
.shakeflat-contents-body { font-size:0.80rem; }

/*
 * footer (copyright)
 */
footer { min-height:55px; }
.shakeflat-copyright-box { font-size:0.8rem; background-color:#f1f1f1; color:#000000; border:1px solid #d0d0d0; white-space:nowrap; }
.shakeflat-copyright-me { font-size:0.6rem; white-space:nowrap; }
