.btn-color-add {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8b2f5f;
    --bs-btn-border-color: #8b2f5f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #75284f;
    --bs-btn-hover-border-color: #662243;
    --bs-btn-focus-shadow-rgb: 139, 47, 95;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #662243;
    --bs-btn-active-border-color: #5a1e3b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8b2f5f;
    --bs-btn-disabled-border-color: #8b2f5f;
}

.btn-color-modify {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1976d2;
    --bs-btn-border-color: #1976d2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1565c0;
    --bs-btn-hover-border-color: #134a9c;
    --bs-btn-focus-shadow-rgb: 25, 118, 210;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #134a9c;
    --bs-btn-active-border-color: #103b7d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1976d2;
    --bs-btn-disabled-border-color: #1976d2;
}

.btn-color-delete {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8b0000;
    --bs-btn-border-color: #8b0000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7a0000;
    --bs-btn-hover-border-color: #6b0000;
    --bs-btn-focus-shadow-rgb: 139,0,0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6b0000;
    --bs-btn-active-border-color: #5e0000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8b0000;
    --bs-btn-disabled-border-color: #8b0000;
}

.btn-color-detail {
    --bs-btn-color: #fff;
    --bs-btn-bg: #008080;
    --bs-btn-border-color: #008080;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #006666;
    --bs-btn-hover-border-color: #005959;
    --bs-btn-focus-shadow-rgb: 0,128,128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #005959;
    --bs-btn-active-border-color: #004d4d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #008080;
    --bs-btn-disabled-border-color: #008080;
}

.btn-color-order {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d35400;
    --bs-btn-border-color: #d35400;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b34400;
    --bs-btn-hover-border-color: #993b00;
    --bs-btn-focus-shadow-rgb: 211,84,0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #993b00;
    --bs-btn-active-border-color: #853300;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d35400;
    --bs-btn-disabled-border-color: #d35400;
}

.btn-color-register {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6a1b9a;
    --bs-btn-border-color: #6a1b9a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5a1783;
    --bs-btn-hover-border-color: #511471;
    --bs-btn-focus-shadow-rgb: 106,27,154;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #511471;
    --bs-btn-active-border-color: #471261;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6a1b9a;
    --bs-btn-disabled-border-color: #6a1b9a;
}

.btn-color-unregister {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4b3b30;
    --bs-btn-border-color: #4b3b30;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #42332a;
    --bs-btn-hover-border-color: #3a2c24;
    --bs-btn-focus-shadow-rgb: 75,59,48;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3a2c24;
    --bs-btn-active-border-color: #33251f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4b3b30;
    --bs-btn-disabled-border-color: #4b3b30;
}

.btn-color-return {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff9800;
    --bs-btn-border-color: #ff9800;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f57c00;
    --bs-btn-hover-border-color: #e65100;
    --bs-btn-focus-shadow-rgb: 255,152,0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e65100;
    --bs-btn-active-border-color: #bf360c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff9800;
    --bs-btn-disabled-border-color: #ff9800;
}

.btn-color-refund {
    --bs-btn-color: #fff;
    --bs-btn-bg: #486581;
    --bs-btn-border-color: #486581;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #405970;
    --bs-btn-hover-border-color: #364e60;
    --bs-btn-focus-shadow-rgb: 72,101,129;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #364e60;
    --bs-btn-active-border-color: #2f454f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #486581;
    --bs-btn-disabled-border-color: #486581;
}

.btn-color-save {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D94A4A;
    --bs-btn-border-color: #C74343;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #B53E3E;
    --bs-btn-hover-border-color: #A83737;
    --bs-btn-focus-shadow-rgb: 217, 74, 74;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9F3333;
    --bs-btn-active-border-color: #8F2D2D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D94A4A;
    --bs-btn-disabled-border-color: #C74343;
}

.btn-color-load {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4A78D9;
    --bs-btn-border-color: #4269C7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3E60B5;
    --bs-btn-hover-border-color: #3855A8;
    --bs-btn-focus-shadow-rgb: 74, 120, 217;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #334E9F;
    --bs-btn-active-border-color: #2D468F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4A78D9;
    --bs-btn-disabled-border-color: #4269C7;
}

.btn-color-search {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1e90ff;
    --bs-btn-border-color: #1e90ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1c86ee;
    --bs-btn-hover-border-color: #1874cd;
    --bs-btn-focus-shadow-rgb: 30, 144, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1874cd;
    --bs-btn-active-border-color: #1560bd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1e90ff;
    --bs-btn-disabled-border-color: #1e90ff;
}

.btn-color-reset {
    --bs-btn-color: #000;
    --bs-btn-bg: #C5A4DF;
    --bs-btn-border-color: #B190CB;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #B28FD6;
    --bs-btn-hover-border-color: #9F7EBF;
    --bs-btn-focus-shadow-rgb: 197, 164, 223;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #9E7DBA;
    --bs-btn-active-border-color: #8B6AA5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #E3D3F1;
    --bs-btn-disabled-border-color: #CEBEE2;
}

.btn-color-hold {
    --bs-btn-color: #2a4a46;
    --bs-btn-bg: #c2e3de;
    --bs-btn-border-color: #a8d1cb;
    --bs-btn-hover-color: #1d3632;
    --bs-btn-hover-bg: #b0d6d0;
    --bs-btn-hover-border-color: #96c4bd;
    --bs-btn-focus-shadow-rgb: 194, 227, 222;
    --bs-btn-active-color: #102320;
    --bs-btn-active-bg: #9ec9c2;
    --bs-btn-active-border-color: #84b7af;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    --bs-btn-disabled-color: #6a8a86;
    --bs-btn-disabled-bg: #d4efea;
    --bs-btn-disabled-border-color: #baddD7;
}

.btn-color-cancel {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #bd2130;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c82333;
    --bs-btn-hover-border-color: #b21f2d;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #bd2130;
    --bs-btn-active-border-color: #a71e2c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #bd2130;
}

.btn-color-config {
    --bs-btn-color: #333;
    --bs-btn-bg: #f0ad4e;
    --bs-btn-border-color: #eea236;
    --bs-btn-hover-color: #222;
    --bs-btn-hover-bg: #ed9c28;
    --bs-btn-hover-border-color: #e38d13;
    --bs-btn-focus-shadow-rgb: 240, 173, 78;
    --bs-btn-active-color: #111;
    --bs-btn-active-bg: #e38d13;
    --bs-btn-active-border-color: #d9820f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #888;
    --bs-btn-disabled-bg: #f0ad4e;
    --bs-btn-disabled-border-color: #eea236;
}

.btn-color-comment {
    --bs-btn-color: #333;
    --bs-btn-bg: #a8dadc;
    --bs-btn-border-color: #457b9d;
    --bs-btn-hover-color: #222;
    --bs-btn-hover-bg: #8ecae6;
    --bs-btn-hover-border-color: #2a628f;
    --bs-btn-focus-shadow-rgb: 168, 218, 220;
    --bs-btn-active-color: #111;
    --bs-btn-active-bg: #63b5d9;
    --bs-btn-active-border-color: #1d4a73;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #888;
    --bs-btn-disabled-bg: #a8dadc;
    --bs-btn-disabled-border-color: #457b9d;
}

.btn-color-job {
    --bs-btn-color: #fff;
    --bs-btn-bg: #236192;
    --bs-btn-border-color: #236192;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1d5180;
    --bs-btn-hover-border-color: #184470;
    --bs-btn-focus-shadow-rgb: 35, 97, 146;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #184470;
    --bs-btn-active-border-color: #133660;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #236192;
    --bs-btn-disabled-border-color: #236192;
}

.btn-color-release {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2e8b57;
    --bs-btn-border-color: #2e8b57;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #267348;
    --bs-btn-hover-border-color: #1f5c3a;
    --bs-btn-focus-shadow-rgb: 46, 139, 87;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1f5c3a;
    --bs-btn-active-border-color: #18452c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2e8b57;
    --bs-btn-disabled-border-color: #2e8b57;
}

.btn-color-active {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff6f00;
    --bs-btn-border-color: #ff6f00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e65100;
    --bs-btn-hover-border-color: #bf360c;
    --bs-btn-focus-shadow-rgb: 255,111,0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #bf360c;
    --bs-btn-active-border-color: #870000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff6f00;
    --bs-btn-disabled-border-color: #ff6f00;
}

.btn-color-deactive {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1565c0;
    --bs-btn-border-color: #1565c0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d47a1;
    --bs-btn-hover-border-color: #08306b;
    --bs-btn-focus-shadow-rgb: 21,101,192;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #08306b;
    --bs-btn-active-border-color: #021f49;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1565c0;
    --bs-btn-disabled-border-color: #1565c0;
}

.btn-color-manage {
    --bs-btn-color: #fff;
    --bs-btn-bg: #20b2aa;
    --bs-btn-border-color: #20b2aa;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1c9e97;
    --bs-btn-hover-border-color: #188a84;
    --bs-btn-focus-shadow-rgb: 32, 178, 170;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #188a84;
    --bs-btn-active-border-color: #147671;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #20b2aa;
    --bs-btn-disabled-border-color: #20b2aa;
}

.btn-color-communicate {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3498db;
    --bs-btn-border-color: #2980b9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2980b9;
    --bs-btn-hover-border-color: #2473a6;
    --bs-btn-focus-shadow-rgb: 52, 152, 219;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2473a6;
    --bs-btn-active-border-color: #206694;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3498db;
    --bs-btn-disabled-border-color: #2980b9;
}

.btn-color-develop {
    --bs-btn-color: #fff;
    --bs-btn-bg: #27ae60;
    --bs-btn-border-color: #229954;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #229954;
    --bs-btn-hover-border-color: #1e8449;
    --bs-btn-focus-shadow-rgb: 39, 174, 96;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1e8449;
    --bs-btn-active-border-color: #196f3d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #27ae60;
    --bs-btn-disabled-border-color: #229954;
}

.btn-color-analyze {
  --bs-btn-color: #2c3e50;
  --bs-btn-bg: #3498db;
  --bs-btn-border-color: #2980b9;
  --bs-btn-hover-color: #1a252f;
  --bs-btn-hover-bg: #2980b9;
  --bs-btn-hover-border-color: #1f618d;
  --bs-btn-focus-shadow-rgb: 52, 152, 219;
  --bs-btn-active-color: #111a21;
  --bs-btn-active-bg: #1f618d;
  --bs-btn-active-border-color: #18527a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #7f8c8d;
  --bs-btn-disabled-bg: #3498db;
  --bs-btn-disabled-border-color: #2980b9;
}

.btn-color-present {
  --bs-btn-color: #000;
  --bs-btn-bg: #c8e6c9;
  --bs-btn-border-color: #a5d6a7;
  --bs-btn-hover-color: #111;
  --bs-btn-hover-bg: #b2dfdb;
  --bs-btn-hover-border-color: #80cbc4;
  --bs-btn-focus-shadow-rgb: 200, 230, 201;
  --bs-btn-active-color: #111;
  --bs-btn-active-bg: #80cbc4;
  --bs-btn-active-border-color: #4db6ac;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #9ccc65;
  --bs-btn-disabled-bg: #c8e6c9;
  --bs-btn-disabled-border-color: #a5d6a7;
}

.btn-color-change {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2c7d59;
    --bs-btn-border-color: #2c7d59;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #256a4c;
    --bs-btn-hover-border-color: #1f5a41;
    --bs-btn-focus-shadow-rgb: 44,125,89;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1f5a41;
    --bs-btn-active-border-color: #194c37;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2c7d59;
    --bs-btn-disabled-border-color: #2c7d59;
}

.btn-color-update {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1e88e5;
    --bs-btn-border-color: #1e88e5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1976d2;
    --bs-btn-hover-border-color: #1565c0;
    --bs-btn-focus-shadow-rgb: 30,136,229;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1565c0;
    --bs-btn-active-border-color: #0d47a1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1e88e5;
    --bs-btn-disabled-border-color: #1e88e5;
}

.bg-color-add { --bs-bg-opacity: 1; background-color: rgba(139, 47, 95, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-delete { --bs-bg-opacity: 1; background-color: rgba(139, 0, 0, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-modify { --bs-bg-opacity: 1; background-color: rgba(25, 118, 210, var(--bs-bg-opacity)) !important; color:#fff; }
.bg-color-detail { --bs-bg-opacity: 1; background-color: rgba(0, 128, 128, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-order { --bs-bg-opacity: 1; background-color: rgba(211, 84, 0, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-register { --bs-bg-opacity: 1; background-color: rgba(106, 27, 154, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-unregister { --bs-bg-opacity: 1; background-color: rgba(75, 59, 48, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-return { --bs-bg-opacity: 1; background-color: rgba(255, 152, 0, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-refund { --bs-bg-opacity: 1; background-color: rgba(72, 101, 129, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-save { --bs-bg-opacity: 1; background-color: rgba(217, 74, 74, var(--bs-bg-opacity)) !important; color:#fff; }
.bg-color-load { --bs-bg-opacity: 1; background-color: rgba(74, 120, 217, var(--bs-bg-opacity)) !important; color:#fff; }
.bg-color-search { --bs-bg-opacity: 1; background-color: rgba(30, 144, 255, var(--bs-bg-opacity)) !important; color:#fff; }
.bg-color-reset { --bs-bg-opacity: 1; background-color: rgba(197, 164, 223, var(--bs-bg-opacity)) !important; color:#000; }
.bg-color-hold { --bs-bg-opacity: 1; background-color: rgba(194, 227, 222, var(--bs-bg-opacity)) !important; color: #2a4a46; }
.bg-color-cancel { --bs-bg-opacity: 1; background-color: rgba(220, 53, 69, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-config { --bs-bg-opacity: 1; background-color: rgba(240, 173, 78, var(--bs-bg-opacity)) !important; color: #333; }
.bg-color-comment { --bs-bg-opacity: 1; background-color: rgba(168, 218, 220, var(--bs-bg-opacity)) !important; color: #333; }
.bg-color-job { --bs-bg-opacity: 1; background-color: rgba(35, 97, 146, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-release { --bs-bg-opacity: 1; background-color: rgba(46, 139, 87, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-active { --bs-bg-opacity: 1; background-color: rgba(255, 111, 0, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-deactive { --bs-bg-opacity: 1; background-color: rgba(21, 101, 192, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-manage { --bs-bg-opacity: 1; background-color: rgba(32, 178, 170, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-communicate { --bs-bg-opacity: 1; background-color: rgba(52, 152, 219, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-develop { --bs-bg-opacity: 1; background-color: rgba(39, 174, 96, var(--bs-bg-opacity)) !important; color: #fff; }
.bg-color-analyze { --bs-bg-opacity: 1; background-color: rgba(52, 152, 219, var(--bs-bg-opacity)) !important; color: #2c3e50; }
.bg-color-present { --bs-bg-opacity: 1; background-color: rgba(200, 230, 201, var(--bs-bg-opacity)) !important; color: #27ae60; }
.bg-color-change { --bs-bg-opacity: 1; background-color: rgba(44, 125, 89, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-update { --bs-bg-opacity: 1; background-color: rgba(30, 136, 229, var(--bs-bg-opacity))!important; color:#fff; }

.text-color-add { color: #8b2f5f; }
.text-color-delete { color: #8b0000; }
.text-color-modify { color: #1976d2; }
.text-color-detail { color: #008080; }
.text-color-order { color: #d35400; }
.text-color-register { color: #6a1b9a; }
.text-color-unregister { color: #4b3b30; }
.text-color-return { color: #ff9800; }
.text-color-refund { color: #486581; }
.text-color-save { color: #D94A4A; }
.text-color-load { color: #4A78D9; }
.text-color-search { color: #1e90ff; }
.text-color-reset { color: #C5A4DF; }
.text-color-hold { color: #c2e3de; }
.text-color-cancel { color: #dc3545; }
.text-color-config { color: #f0ad4e; }
.text-color-comment { color: #457b9d; }
.text-color-job { color: #236192; }
.text-color-release { color: #2e8b57; }
.text-color-active { color: #ff6f00; }
.text-color-deactive { color: #1565c0; }
.text-color-manage { color: #20b2aa; }
.text-color-communicate { color: #3498db; }
.text-color-develop { color: #27ae60; }
.text-color-analyze { color: #3498db; }
.text-color-present { color: #c8e6c9; }
.text-color-change { color: #2c7d59; }
.text-color-update { color: #1e88e5; }

.btn-color-indigo {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4b0082;
    --bs-btn-border-color: #4b0082;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3f0071;
    --bs-btn-hover-border-color: #360062;
    --bs-btn-focus-shadow-rgb: 75,0,130;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #360062;
    --bs-btn-active-border-color: #2f0056;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4b0082;
    --bs-btn-disabled-border-color: #4b0082;
}

.btn-color-lightblue {
    --bs-btn-color: #000;
    --bs-btn-bg: #87cefa;
    --bs-btn-border-color: #87cefa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #7bc4f3;
    --bs-btn-hover-border-color: #6fb9eb;
    --bs-btn-focus-shadow-rgb: 135,206,250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #6fb9eb;
    --bs-btn-active-border-color: #63afe3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #87cefa;
    --bs-btn-disabled-border-color: #87cefa;
}

.btn-color-navy {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000080;
    --bs-btn-border-color: #000080;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000070;
    --bs-btn-hover-border-color: #000063;
    --bs-btn-focus-shadow-rgb: 0,0,128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000063;
    --bs-btn-active-border-color: #000056;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #000080;
    --bs-btn-disabled-border-color: #000080;
}

.btn-color-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #800080;
    --bs-btn-border-color: #800080;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6e006e;
    --bs-btn-hover-border-color: #5e005e;
    --bs-btn-focus-shadow-rgb: 128,0,128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5e005e;
    --bs-btn-active-border-color: #530053;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #800080;
    --bs-btn-disabled-border-color: #800080;
}

.btn-color-fuchsia {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff00ff;
    --bs-btn-border-color: #ff00ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e600e6;
    --bs-btn-hover-border-color: #cc00cc;
    --bs-btn-focus-shadow-rgb: 255,0,255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cc00cc;
    --bs-btn-active-border-color: #b300b3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff00ff;
    --bs-btn-disabled-border-color: #ff00ff;
}

.btn-color-pink {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff69b4;
    --bs-btn-border-color: #ff69b4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff5ba0;
    --bs-btn-hover-border-color: #e6538f;
    --bs-btn-focus-shadow-rgb: 255,105,180;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e6538f;
    --bs-btn-active-border-color: #cc4a7f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff69b4;
    --bs-btn-disabled-border-color: #ff69b4;
}

.btn-color-maroon {
    --bs-btn-color: #fff;
    --bs-btn-bg: #800000;
    --bs-btn-border-color: #800000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6e0000;
    --bs-btn-hover-border-color: #5e0000;
    --bs-btn-focus-shadow-rgb: 128,0,0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5e0000;
    --bs-btn-active-border-color: #530000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #800000;
    --bs-btn-disabled-border-color: #800000;
}

.btn-color-orange {
    --bs-btn-color: #000;
    --bs-btn-bg: #ff8c00;
    --bs-btn-border-color: #ff8c00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e57d00;
    --bs-btn-hover-border-color: #cc6e00;
    --bs-btn-focus-shadow-rgb: 255,140,0;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #cc6e00;
    --bs-btn-active-border-color: #b36000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ff8c00;
    --bs-btn-disabled-border-color: #ff8c00;
}

.btn-color-lime {
    --bs-btn-color: #000;
    --bs-btn-bg: #32cd32;
    --bs-btn-border-color: #32cd32;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2db12d;
    --bs-btn-hover-border-color: #28a028;
    --bs-btn-focus-shadow-rgb: 50,205,50;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #28a028;
    --bs-btn-active-border-color: #249024;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #32cd32;
    --bs-btn-disabled-border-color: #32cd32;
}

.btn-color-teal {
    --bs-btn-color: #fff;
    --bs-btn-bg: #008080;
    --bs-btn-border-color: #008080;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #006f6f;
    --bs-btn-hover-border-color: #006060;
    --bs-btn-focus-shadow-rgb: 0,128,128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #006060;
    --bs-btn-active-border-color: #005353;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #008080;
    --bs-btn-disabled-border-color: #008080;
}

.btn-color-olive {
    --bs-btn-color: #fff;
    --bs-btn-bg: #808000;
    --bs-btn-border-color: #808000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #707000;
    --bs-btn-hover-border-color: #626200;
    --bs-btn-focus-shadow-rgb: 128,128,0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #626200;
    --bs-btn-active-border-color: #565600;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #808000;
    --bs-btn-disabled-border-color: #808000;
}

.bg-color-indigo { --bs-bg-opacity: 1; background-color: rgba(75, 0, 130, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-lightblue { --bs-bg-opacity: 1; background-color: rgba(135, 206, 250, var(--bs-bg-opacity))!important; color:#000; }
.bg-color-navy { --bs-bg-opacity: 1; background-color: rgba(0, 0, 128, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-purple { --bs-bg-opacity: 1; background-color: rgba(128, 0, 128, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-fuchsia { --bs-bg-opacity: 1; background-color: rgba(255, 0, 255, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-pink { --bs-bg-opacity: 1; background-color: rgba(255, 105, 180, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-maroon { --bs-bg-opacity: 1; background-color: rgba(128, 0, 0, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-orange { --bs-bg-opacity: 1; background-color: rgba(255, 140, 0, var(--bs-bg-opacity))!important; color:#000; }
.bg-color-lime { --bs-bg-opacity: 1; background-color: rgba(50, 205, 50, var(--bs-bg-opacity))!important; color:#000; }
.bg-color-teal { --bs-bg-opacity: 1; background-color: rgba(0, 128, 128, var(--bs-bg-opacity))!important; color:#fff; }
.bg-color-olive { --bs-bg-opacity: 1; background-color: rgba(128, 128, 0, var(--bs-bg-opacity))!important; color:#fff; }

.text-color-indigo { color: #4b0082; }
.text-color-lightblue { color: #87cefa; }
.text-color-navy { color: #000080; }
.text-color-purple { color: #800080; }
.text-color-fuchsia { color: #ff00ff; }
.text-color-pink { color: #ff69b4; }
.text-color-maroon { color: #800000; }
.text-color-orange { color: #ff8c00; }
.text-color-lime { color: #32cd32; }
.text-color-teal { color: #008080; }
.text-color-olive { color: #808000; }
