/* nanum-gothic-regular - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v21-latin_korean/nanum-gothic-v21-latin_korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

/* oswald-200 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-200.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-300 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-600 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-600.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v49/oswald-v49-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Oswald') format('svg'); /* Legacy iOS */
}