body {
    font-size: 0.85rem;
    font-family: 'Nanum Gothic', sans-serif;
    overflow:hidden;
}

a,a:hover,a:visited {
    text-decoration:none;
    color: inherit;
}

.shakeflat-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.shakeflat-container>.shakeflat-top-logo {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 3px;
    padding: 10px 10px 15px 10px;
}

.shakeflat-container>.shakeflat-body {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px 60px 10px;
    width: 100vw;
}

.table thead th.text-amount { text-align:center!important; }
.table tbody td.text-amount, .table tfoot td.text-amount { text-align:right!important; padding-right:15px!important; }
