<!DOCTYPE html>
<html lang="ko">
<head>
<title><?=SHAKEFLAT_ENV["app"]["name"] ?? "Project Name";?></title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/assets/libs/jquery-3.7.0/jquery.min.js"></script>
<script src="/assets/libs/jquery-ui-1.13.2/jquery-ui.min.js"></script>
<script src="/assets/libs/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/moment-2.29.4/moment-with-locales.min.js"></script>
<script src="/assets/libs/sweetalert2-11.7.6/sweetalert2.all.min.js"></script>
<script src="/assets/libs/fontawesome-free-6.4.0-web/js/all.min.js"></script>
<link rel="stylesheet" href="/assets/libs/jquery-ui-1.13.2/jquery-ui.min.css" />
<link rel="stylesheet" href="/assets/libs/bootstrap-5.2.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/libs/bootstrap-icons-1.10.2/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/libs/sweetalert2-11.7.6/sweetalert2.min.css" />
<link rel="stylesheet" href="/assets/libs/fontawesome-free-6.4.0-web/css/all.min.css" />
<link rel="stylesheet" href="/assets/css/fonts.css" />

<script src="/assets/js/ajax.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/sfalert.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/sfutil.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/shakeflat.js?<?=sfCSSJSVer();?>"></script>

</head>

<body>
<?= $contentBody ?>
</body>
</html>