<?php
$leftMenu = [
    [
        "title"     => "welcome",
        "icon"      => '<i class="bi bi-chat-dots"></i>',
        "link"      => null,
        "subopened" => false,
        "sub"       => [
            [ "title" => "main", "link"  => "/welcome/main" ],
            [ "title" => "sample", "link"  => "/welcome/sample" ],
        ],
    ],
    [
        "title"     => "JS Library Sample",
        "icon"      => '<i class="bi bi-archive"></i>',
        "link"      => null,
        "subopened" => true,
        "sub"   => [
            [ "title" => "sfAlert", "link"  => "/jslib/sfAlert" ],
            [ "title" => "inputmask 5.0.10", "link"  => "/jslib/inputmask" ],
            [ "title" => "daterangepicker 3.1", "link"  => "/jslib/daterangepicker" ],
            [ "title" => "datetimepicker 2.5.4", "link"  => "/jslib/datetimepicker" ],
        ],
    ],
    [
        "title"     => "Colors",
        "icon"      => '<i class="bi bi-bag-x"></i>',
        "link"      => "/colors/main",
        "sub"       => null,
    ],
    [
        "title"     => "DataTables",
        "icon"      => '<i class="bi bi-table"></i>',
        "link"      => null,
        "subopened" => false,
        "sub"       => [
            [ "title" => "basic sample", "link"  => "/datatables/basic" ],
            [ "title" => "custom - KR", "link"  => "/datatables/custom" ],
            [ "title" => "shakeFlat DataTables", "link"  => "/datatables/use-libs" ],
            [ "title" => "Processing in one page", "link"  => "/datatables/onepage" ],
        ],
    ],
];

$sfThemeCookie = json_decode($_COOKIE["sfTheme"] ?? "{ theme: 'light', select: 'auto' }", true);
if (array_key_exists("select", $sfThemeCookie ?? []) && ($sfThemeCookie["select"] == "light" || $sfThemeCookie["select"] == "dark")) $sfThemeSelect = $sfThemeCookie["select"]; else $sfThemeSelect = "auto";
?>
<!DOCTYPE html>
<html lang="ko"<?php if (($sfThemeCookie["theme"] ?? "light") == "dark") echo " data-sf-theme=\"dark\""; ?>>
<head>
<title><?=SHAKEFLAT_ENV["app"]["name"] ?? "Project Name";?></title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/assets/libs/jquery-3.7.1/jquery.min.js"></script>
<script src="/assets/libs/jquery-ui-1.14.0/jquery-ui.min.js"></script>
<script src="/assets/libs/bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/moment-2.30.1/moment.min.js"></script>
<script src="/assets/libs/daterangepicker-3.1/daterangepicker.js"></script>
<script src="/assets/libs/datetimepicker-2.5.4/jquery.datetimepicker.full.min.js"></script>
<script src="/assets/libs/inputmask-5.0.10-beta.11/jquery.inputmask.min.js"></script>
<script src="/assets/libs/select2-4.1.0-rc.0/js/select2.full.min.js"></script>
<script src="/assets/libs/fontawesome-free-6.6.0-web/js/all.min.js"></script>
<script src="/assets/libs/simplebar-6.2.7/simplebar.min.js"></script>
<script src="/assets/libs/bootstrap5-toggle-5.0.6/js/bootstrap5-toggle.jquery.min.js"></script>
<script src="/assets/libs/js-cookie-3.0.5/js.cookie.min.js"></script>
<script src="/assets/libs/datatables-2.2.1/datatables.min.js"></script>
<script src="/assets/libs/datatables-2.2.1/i18n/pdf-ko.js"></script>
<script src="/assets/libs/sfrangeslide-0.1/sfrangeslide.js"></script>
<script src="/assets/libs/sflightbox-0.0.1/sflightbox.js"></script>
<link rel="stylesheet" href="/assets/libs/jquery-ui-1.14.0/jquery-ui.min.css" />
<link rel="stylesheet" href="/assets/libs/bootstrap-5.3.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/libs/bootstrap-icons-1.11.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/libs/daterangepicker-3.1/daterangepicker.css" />
<link rel="stylesheet" href="/assets/libs/datetimepicker-2.5.4/jquery.datetimepicker.min.css" />
<link rel="stylesheet" href="/assets/libs/select2-4.1.0-rc.0/css/select2.min.css" />
<link rel="stylesheet" href="/assets/libs/select2-bootstrap5-theme/select2-bootstrap5.min.css" />
<link rel="stylesheet" href="/assets/libs/select2-bootstrap5-theme/select2-bootstrap5-dark.min.css" />
<link rel="stylesheet" href="/assets/libs/fontawesome-free-6.6.0-web/css/all.min.css" />
<link rel="stylesheet" href="/assets/libs/simplebar-6.2.7/simplebar.min.css" />
<link rel="stylesheet" href="/assets/libs/bootstrap5-toggle-5.0.6/css/bootstrap5-toggle.min.css" />
<link rel="stylesheet" href="/assets/libs/datatables-2.2.1/datatables.min.css" />
<link rel="stylesheet" href="/assets/libs/sfrangeslide-0.1/sfrangeslide.css" />

<script src="/assets/js/sfalert.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/sfmodal.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/sfutil.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/sfdatatables.js?<?=sfCSSJSVer();?>"></script>
<script src="/assets/js/template-admin.js?<?=sfCSSJSVer();?>"></script>

<link rel="stylesheet" href="/assets/css/fonts.css" />
<link rel="stylesheet" href="/assets/css/colors.css" />
<link rel="stylesheet" href="/assets/css/sfdatatables.css?<?=sfCSSJSVer();?>" />
<link rel="stylesheet" href="/assets/css/template-admin.css?<?=sfCSSJSVer();?>" />

</head>

<body>
<div class="shakeflat-wrapper">
    <header id="shakeflat-header" class="fixed-top">
        <div class="shakeflat-topbar d-flex">
            <div class="shakeflat-logo-box d-flex">
                <a href="/">
                <div class="shakeflat-logo">
                    <div class="shakeflat-logo-character text-center"><?=SHAKEFLAT_ENV["app"]["initial"] ?? "S";?></div>
                </div>
                </a>
                <div class="shakeflat-logo-text">
                    <a href="/"><?=SHAKEFLAT_ENV["app"]["name"] ?? "Project Name";?></a>
                </div>
            </div>
            <div class="shakeflat-topbar-content d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-sm ms-1" id="shakeflat-btn-left-menu">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                    <div class="shakeflat-server-comment"><?=SHAKEFLAT_ENV["config"]["server_name"] ?? "";?></div>
                </div>

                <div class="d-flex align-items-center ms-auto me-4">
                    <div class="shakeflat-clock text-center">
                        <div class="shakeflat-clock-time d-flex justify-content-center">
                            <div id="shakeflat-clock-hours"></div>
                            <div class="shakeflat-clock-point">:</div>
                            <div id="shakeflat-clock-min"></div>
                            <div class="shakeflat-clock-point">:</div>
                            <div id="shakeflat-clock-sec"></div>
                        </div>
                        <div id="shakeflat-clock-date"></div>
                    </div>
                </div>

                <div class="d-flex align-items-center me-1">
                    <div class="shakeflat-theme-dropdown dropdown">
                        <button class="btn dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" data-bs-display="static">
                            <?php
                            switch($sfThemeSelect) {
                                case "light" : echo "<i class=\"bi bi-sun-fill\"></i> Light"; break;
                                case "dark" : echo "<i class=\"bi bi-moon-stars-fill\"></i> Dark"; break;
                                default : echo "<i class=\"bi bi-circle-half\"></i> Auto"; break;
                            }
                            ?>

                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center<?php if($sfThemeSelect == "light") echo " active"; ?>" data-sf-theme-value="light">
                                    <i class="bi bi-sun-fill"></i> Light
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center<?php if($sfThemeSelect == "dark") echo " active"; ?>" data-sf-theme-value="dark">
                                    <i class="bi bi-moon-stars-fill"></i> Dark
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center<?php if($sfThemeSelect == "auto") echo " active"; ?>" data-sf-theme-value="auto">
                                    <i class="bi bi-circle-half"></i> Auto
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex align-items-center me-2">
                    <div class="shakeflat-account-dropdown dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown">Tom Cruise</button>
                        <ul class="shakeflat-account-dropdown-menu dropdown-menu">
                            <div class="row text-nowrap my-1 mx-3">Development</div>
                            <div class="row text-nowrap my-1 mx-3">Last Login : 2022-12-25 00:00:00</div>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-power me-1"></i> LOGOUT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="d-flex w-100">
        <div data-simplebar class="shakeflat-left" data-status="full">
            <!-- leftside menu -->
            <div class="list-group mt-3">
                <?php
                $selectedMenuTitle = null;
                foreach($leftMenu as $idx => $menu) :
                    $active = "";
                    $opened = "";
                    $dataToggle = "";
                    $dataLink = "";
                    if ($menu["sub"]) {
                        if ($menu["subopened"] ?? false) {
                            $opened = " opened";
                        } else {
                            $dataToggle = " data-bs-toggle=\"collapse\" data-bs-target=\"#sfadmin-left-collapse-{$idx}\"";
                        }

                        foreach($menu["sub"] as $idx2 => $submenu) {
                            if (($submenu["link"] ?? null) == null) continue;
                            list($m, $f) = explode("/", trim($submenu["link"], "/")) + [null, null];        // Add + [null, null] to suppress warning message
                            $menu["sub"][$idx2]["active"] = "";
                            if ($router->module() == $m && $router->fnc() == $f) {
                                $active = " active open";
                                $menu["sub"][$idx2]["active"] = " active";
                                $selectedMenuTitle = $menu["title"] . " <span style=\"font-size:0.7rem;\"><i class=\"bi bi-chevron-right\"></i></span> " . $submenu["title"];
                            }
                        }
                ?>
                <?php
                    }

                    if ($menu["link"]) {
                        list($m, $f) = explode("/", trim($menu["link"], "/")) + [null, null];
                        if ($router->module() == $m && $router->fnc() == $f) {
                            $active = " active";
                            $selectedMenuTitle = $menu["title"];
                        }
                ?>

                <a class="list-group-item<?php echo $active; ?>" href="<?php echo $menu["link"]; ?>"<?php echo $dataToggle; ?>>
                    <span class="list-group-item-icon"><?php echo $menu["icon"] ?? ""; ?></span><span class="list-group-item-text"><?php echo $menu["title"] ?? ""; ?></span>
                </a>
                <?php
                    } else {
                ?>

                <div class="list-group-item<?php echo $active; ?>"<?php echo $dataToggle; ?>>
                    <span class="list-group-item-icon"><?php echo $menu["icon"] ?? ""; ?></span><span class="list-group-item-text"><?php echo $menu["title"] ?? ""; ?></span>
                </div>

                <?php
                    }
                    if ($menu["sub"]) :
                        $subShow = "";
                        if ($active != "" || $opened != "") $subShow = " show";
                ?>

                <div class="list-group collapse<?php echo $subShow; ?><?php echo $opened; ?>" id="sfadmin-left-collapse-<?php echo $idx; ?>">
                    <?php
                    foreach($menu["sub"] as $submenu) :
                        $dataSubLink = "";
                        if ($submenu["link"]) {
                    ?>

                    <a class="list-group-item<?php echo $submenu["active"]; ?>" href="<?php echo $submenu["link"]; ?>">
                        <span class="list-group-item-icon-sub"><i class="fa-solid fa-angle-right"></i></span><span class="list-group-item-text sub"><?php echo $submenu["title"]; ?></span>
                    </a>
                    <?php
                        } else {
                    ?>

                    <div class="list-group-item<?php echo $submenu["active"]; ?>">
                        <span class="list-group-item-text"><?php echo $submenu["title"]; ?></span>
                    </div>
                    <?php
                        }
                    endforeach;
                    ?>

                </div>
                <?php
                    endif;
                ?>
                <div class="list-group-gap"></div>
                <?php
                endforeach;
                ?>

            </div>
        </div>

        <div class="shakeflat-contents flex-fill p-3">
            <div class="shakeflat-content-wrapper">
                <div class="shakeflat-contents-title"><i class="bi bi-caret-right-fill"></i> <?php if (isset($res) && $res->pageTitle) echo $res->pageTitle; elseif ($selectedMenuTitle) echo $selectedMenuTitle; else echo "{$router->module()}/{$router->fnc()}"; ?></div>
                <div class="shakeflat-contents-body p-3">
                    <?= $contentBody ?>
                </div>
            </div>

            <footer>
                <div class="shakeflat-copyright-box rounded p-2">
                    <div class="row align-items-end">
                        <div class="col-auto ms-1">
                            <?=SHAKEFLAT_ENV["app"]["name"] ?? "Project Name";?><br>
                            Copyright © <a href="<?=SHAKEFLAT_ENV["app"]["company_link"] ?? "https://github.com/umuusf/shakeFlat";?>" target="_blank"><?=SHAKEFLAT_ENV["app"]["company"] ?? "shakeFlat";?></a>. All rights reserved.
                        </div>
                        <div class="shakeflat-copyright-me ms-auto me-2 col-auto text-end">
                            Design & Develop by <a href="https://github.com/umuusf/shakeFlat" target="_blank">shakeFlat</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <aside class="shakeflat-sidebar-blind">
    </aside>
</div>

</body>
</html>

<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>